@font-face {
  font-family: "Helvetica_Neue";
  src: url('../../fonts/HelveticaNeueMedium.woff');
}

@font-face {
  font-family: "Helvetica";
  src: url('../../fonts/HelveticaNeue-Roman.woff');
}

body {
  margin: 0;
}
