.footer {
  width: 100%;

  .footer_films {
    font-size: 38px;
    color: #0aaee4;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-weight: 800;
    text-align: center;
    display: block;
    margin: 40px auto 40px auto;
  }

  .footer_copyright {
    font-size: 20px;
    color: #969797;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
    text-align: center;
    display: block;
    margin: 0 auto 40px auto;
  }
}
